.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Radio-Button-Div {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  
}

.Radio-Label {
  margin: 10px;
}

.User-Input {
  font-size: 1.3rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  
}

.User-Input:focus {
  background-color: #D9D6FE;
}

.Calculate-Btn {
  font-size: 1.4rem;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(162, 160, 160);
  padding: 10px;
  border: 0px;
}

.Calculate-Btn:hover {
  background-color:#D9D6FE;
  cursor: pointer;
}

.Calculate-Btn:visited {
  background-color:#D9D6FE;
  cursor: pointer;
}

.Message {
  background-color:#D9D6FE;
  border-radius: 5px;
  border-color: purple;
  border-width: 1px;
  color: #282c34;
  padding: 10px;
  font-size: 1.2rem;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
